<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body bgcolor="#9732a8" text="#FFFFFF" align="center">
    <h1>Генератор видео с бегущим текстом</h1>
    <h2>По адресу '/video' можно ввести в строку следующие параметры (все необязательные):</h2>
    <ul style="list-style: none;">
        <li>'text' - текст бегущей строки</li>
        <li>'fps' - количесво кадров в секунду</li>
        <li>'time' - длительность видео</li>
        <li>'r' - красный цвет rgb текста</li>
        <li>'g' - зеленый цвет rgb текста</li>
        <li>'b' - синий цвет rgb текста</li>
    </ul>
    <h2>Пример запроса:</h2>
    <p>/video?text=run run&time=3&fps=30&r=100&b=60&g=100</p>
</body>
</html>